{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@src": "./src",
          "@config": "./config",
          "@assets": "./static"
        },
        "cwd": "babelrc"
      }
    ]
  ]
}
