.idea/
node_modules/
dist/
*.iml
webpack-assets.json
webpack-stats.json
npm-debug.log
*.swp

logs/*

.next/

yarn-error.log

.env

**/*.jsx

cloud/**/*.js

components/lib/*.js

production-server/*
production-cloud/*

node_trace.*
